
.display-1 {
    text-align: center;
}

.display-4 {
    text-align: center;
}

.header a, a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p {
    margin-top: 10px;
    margin-bottom: 1rem;
    font-size: 200%;
    text-align: center;
    
}

.header h2 {
    color: #3a2e2e !important;
    font-size: 90%;
    letter-spacing: 3px;
}

.navbar-default .navbar-brand {
    color: #0f0d0d;
    text-align: center;
    font-size: 200%;
}
.navbar-default {
    background-color: #c7b6b6;
    border-color: #f6f1f1;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #c4bc87
}
.card-body {
    background-color: #feeaea;
    border-color: #f6f1f1;
    color: #0f0d0d;
    font-size: 150%;
    text-align: center;
    flex: 1 1 auto;
    padding: 0.2rem 15rem;
}
    


.width-20-pct {
    width: 20%;
  }
  
  @media (min-width: 768px) {
    .width-20-pct {
      max-width: 20%;
      width: 20%;
    }
  }
