.header{
    background-color:rgb(234, 225, 213);
    height: 1960px;
    font-size: 1.2em;
    margin-left : 0px;
    margin-right: 0px;
    min-width: 750px ;
}

.main,.logo,.menubar,.site_content,.footer {

    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 750px;
    padding-bottom: 40px;
}

.logo h1, .logo h2  {
    text-align: center;
}

.logo_text h1, .logo_text h1 a,.logo_text h1 a :hover {
    padding: 30px 0 0 0 ;
    color:  rgb(20, 18, 20);
    letter-spacing: 0.3em;
    text-decoration: none;
}

.logo_text h2 {
    font-size: 1em;
    padding: 4 px 0 0 0 ;
    color: rgb(20, 18, 20);
}

.site_content,.sidebar-container,.sidebar h2 p {
    font :normal 100%  arial Alexander;
    margin: 0 20px 20px 0;
    font-size: 0.1em;
    text-align: center;
}

.menubar {
    width: 750px;
    height: 46px;
}

ul.menu li {
    list-style: none;
    border-radius: 5px;
    background-color: rgb(242, 237, 231);
    padding: 1%;
    margin: 26px 55px 10px 250px;
}


.site_content{
    width: 750px;
    overflow: hidden;
    margin: 20 px auto 0 auto;
    background-color: white;

}
    

.sidebar_container{
    float: right;
    width: 224px;
}

.sidebar{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #fff;
    border-radius: 5px;
    background-color: rgb(224, 216, 207);
}

img  {
    border-radius: 5px;
    border:solid 5px white;
  
}

p {
    text-align: left;
    width: 620px;
    padding: 0 0 0 5px;
    float: left; 
}







.footer {
    width: 100%;
    height: 100%;
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: rgb(234, 225, 213);
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 750px;
}
